<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 text-gray-800">BUG 101</h1>
    <!-- <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      To JIRA
     </div> -->
    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
      <input type="file" id="browsefile" accept=".mkv,.webm" ng-model="$ctrl.file" ng-change="$ctrl.onFileChange()"
        file-on-change />
      <i class="fas fa-upload fa-sm text-white-50"></i> Upload
    </button>
  </div>


  <!-- Content Row -->

  <div class="row">
    <!-- Area Video -->
    <div class="col-xl-7 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <!-- <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">VIDEO</h6>
      </div> -->
        <!-- Card Body -->
        <div class="card-body embed-responsive embed-responsive-16by9">
          <video id="vid" controls src="{{$ctrl.videoSrc}}" class="embed-responsive-item" video-control
            video-time="$ctrl.playTime" on-time-update="$ctrl.onTimeineSelect({currentTime: $ctrl.playTime})"></video>

        </div>
      </div>
    </div>

    <!-- Area Timeline -->
    <div class="col-xl-5 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <!-- <h6 class="m-0 font-weight-bold text-primary">Timeline</h6> -->
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="networklogstab" data-toggle="tab" href="#networklogs" role="tab"
                aria-controls="networklogs" aria-selected="true">Networks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="consolelogtab" data-toggle="tab" href="#consolelog" role="tab"
                aria-controls="consolelog" aria-selected="false">Console</a>
            </li>
          </ul>
        </div>
        <!-- Card Body -->
        <div class="card-body pt-0 m-h-370">
          <div class="timeline">
            <!-- <h4 class="card-title">Bologna</h4>
            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
             -->
            <div class="tab-content mt-3">
              <div class="tab-pane active" id="networklogs" role="tabpanel" aria-labelledby="networklogstab">
                <div id="timeline_{{x.requestid}}" class="notice notice-sm notice-{{x.statusCode}}"
                  ng-repeat="x in $ctrl.networkData" ng-click="$ctrl.renderNetworkData(x);"
                  ng-class="$ctrl.highlightTimeline(x);">
                  <div>
                    <strong>{{x.method}}</strong> {{x.url}} <strong>{{x.statusCode }}</strong>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="consolelog" role="tabpanel" aria-labelledby="consolelogtab">
                <div ng-repeat="console in $ctrl.consoleData" class="p-10">
                  {{console.type}}: {{console.message}}
                </div>
              </div>
            </div>


            <!-- <div class="notice notice-sm notice-{{x.statusCode}}" ng-repeat="x in $ctrl.networkData"
              ng-class="{ 'timeline-even' : $even,  'timeline-odd' : !$even, 'bg-secondary text-white' : x.time <= $ctrl.playTime }" ng-click="$ctrl.renderNetworkData(x);">
              <div ng-show="x.isRequest">
                <strong>{{x.method }}</strong> {{x.url}}
              </div>
              <div ng-show="!x.isRequest">
                <strong>{{x.statusCode}}</strong> {{x.method }} - {{x.url}}
              </div>
            </div> -->
          </div>
          <!-- <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-primary"></i> Direct
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Social
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Referral
          </span>
        </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- Request Info -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Request</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body m-h-370">
          <div class="p-b-30">
            {{$ctrl.selectedNetworkData.method}} {{$ctrl.selectedNetworkData.url}}
            {{$ctrl.selectedNetworkData.statusCode}}
          </div>
          <div class="content" id="request-headers" ng-if="$ctrl.selectedNetworkData.requestHeaders">
            <h6 class="m-0 font-weight-bold text-primary p-b-10">Request Headers</h6>
            <ul class="list-group">
              <li class="list-group-item line-height-20"
                ng-repeat="(header, value) in $ctrl.selectedNetworkData.requestHeaders">
                <span class="header-item">{{header}}</span>:
                <span>{{value}}</span></li>
            </ul>
          </div>
          <div class="content" id="response-headers" ng-if="$ctrl.selectedNetworkData.responseHeaders">
            <h6 class="m-0 font-weight-bold text-primary p-t-b-10">Response Headers</h6>
            <ul class="list-group">
              <li class="list-group-item line-height-20"
                ng-repeat="(header, value) in $ctrl.selectedNetworkData.responseHeaders">
                <span class="header-item">{{header}}</span>:
                <span>{{value}}</span></li>
            </ul>
          </div>
          <div class="content" id="response-headers" ng-if="$ctrl.selectedNetworkData.requestBody">
            <h6 class="m-0 font-weight-bold text-primary p-t-b-10">Request Body</h6>
            <div id="requestBody"></div>
          </div>
        </div>
      </div>
    </div>
    <!--  Response Body -->
    <div class="col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Response</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body m-h-370">
          <div class="pt-4 pb-2">
            <div class="content" id="response">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>