html{
  min-height: auto;
 }
 
 body {
     width: 400px;
     color: #3b404e;
     font-size: 12px;
     margin: 0;
     letter-spacing: -.1px
   }
   
   body.no-transition * {
     transition: none!important
   }
 
  
 
 /* Tabs Card */
 
 .tab-card {
  /* // border:1px solid #eee; */
  border: none;;
 }
 
 .tab-card-header {
   background:none;
 }
 /* Default mode */
 .tab-card-header > .nav-tabs {
   border: none;
   margin: 0px;
 }
 .tab-card-header > .nav-tabs > li {
    /* margin-right: 2px; */
 }
 .tab-card-header > .nav-tabs > li > a {
   border: 0;
   border-bottom: none;
   margin-right: 0;
   color: #737373;
   padding: 2px 15px;
   font-size: 14px;
  font-weight: 600;
 }
 
 .tab-card-header > .nav-tabs > li > a.show {
     border-bottom:2px solid #007bff;
     color: #007bff;
 }
 .tab-card-header > .nav-tabs > li > a:hover {
     color: #007bff;
 }
 
 .tab-card-header > .tab-content {
   padding-bottom: 0;
 }
 
 .tab-card-body{
 }