body {
  background: #d0d0d0;
  overflow: hidden;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* .logo {
    padding-left: 18px;
    padding-top: 6px;
} */

.sidebar {
  height: 100%;
  background: #1a202c;
  color: #7e8490;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 24px 20px 24px;
}
.content-wrapper {
  padding: 0px;
  /* background: #242a36; */
  background: #ffffff;
  color: #f4faff;
}
.content-header {
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 24px;
  border-bottom: 2px solid #1a202c;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #f4faff;
}
.content-body {
  margin: 0px;
}
#container {
  height: 50%;
  position: relative;
}
#right_panel {
  color: #fff;
  border-left: 2px solid #1a202c;
}

/* #btLft_panel {
  color: #fff;
  border-top: 2px solid #1a202c;
}

#btCen_panel {
  color: #fff;
  border-top: 2px solid #1a202c;
  border-left: 2px solid #1a202c;
  border-right: 2px solid #1a202c;
} */

/* #btRgt_panel {
  position: relative;
  border-top: 2px solid #1a202c;
  color: #fff;
} */

tbody tr td,
.sidebar-heading,
.info {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #7e8490;
  padding-right: 8px;
  vertical-align: top;
}

.sidebar-heading {
  font-size: 14px;
  line-height: 20px;
  color: #bac0cc;
}

.link-gray {
  cursor: pointer;
  color: #7e8490;
}

.text-strong-base {
  font-weight: 500;
  font-size: 13px;
}

button {
  padding: 0;
  border: 0;
  line-height: inherit;
  color: inherit;
  background: transparent;
}

.height-100vh {
  height: 100vh;
}

.overflow-auto {
  overflow: auto;
}

.height-400 {
  height: 400px !important;
}

.custom-container {
  overflow: auto;
}

.splitpanel {
  padding: 0px;
}

.splitpanel .content {
  padding: 10px;
}

.content {
  overflow: auto;
  height: 355px !important;
}

.header {
  background: grey;
  color: #ffffff;
  padding: 10px;
}

.timeline-card {
  color: grey;
  cursor: pointer;
  margin: 5px 0px 5px 0px;
  box-shadow: 0 2px 5px 0;
}

.timeline-odd {
  width: 70%;
  float: right;
}

.timeline-even {
  width: 70%;
}

.timeline-card .card-body {
  padding: 10px;
}

.timeline-card:hover {
  transform: scale(1);
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.3);
}

.no-margin {
  margin: 0;
}

.video-section {
  height: 100%;
  width: 100%;
}

.timeline-background {
  background: #ececdc;
}