.navbar{
	display:block;
}
.card{
	width:350px;
	height:400px;
	overflow-y:auto;
}
.card-block{
	text-align: center;
	padding-top:5%;
}
.form{
	padding-left:10%;
	padding-top:5%;
	font-size: 14px;
	display:block;
}
.textbox{
	width:90%;
	font-size: 14px;
	line-height: 1;
}
.hidebutton{
	display: none;
}
.TextBoxName{
	padding-right:5%;
}
.selectOption{
	width:90%;
}
.bottomBar{
	cursor: pointer;
	float: bottom;
	bottom: 0px;
	position: absolute;
	width:150px;
	margin-bottom: 0;
    border-bottom-right-radius: 0rem; 
    border-bottom-left-radius: .25rem; 
}
.topBar{
	cursor: pointer;
	float: top;
	top: 0px;
	position: relative;
}
.pointer{
	cursor: pointer;
}
.buttongp{
	padding-top:10px;
	padding-bottom:0px;
}
.list-group-item{
	padding-left:0.75rem;
	padding-right:0.75rem;
}
.actionButton{
	margin-bottom:0px;
	margin-right:10px;
	line-height: 1.5;
}
.buttonIcons{
	line-height: 1.0;
}
.videoName{
	font-size: 14px;
}
.setright{
	right: 0px;
}

.primary-btn {
  background-color: #f43b45;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.bg-primary {
  background-color: #F37B56 !important;
  color: white;
}

.slider {
	-webkit-appearance: none;
	height: 12px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #61a846;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #61a846;
	cursor: pointer;
}
.p-t-2 {
  padding-top: 2px;
}
.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #61a846;
  background-color: #61a846;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}